@using GreenOasisAll.Utility
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;
@if (User.IsInRole("Admin"))
{
    <!DOCTYPE html>
    <html lang="en">
    <!-- CSS -->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Green Oasis Admin</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />

        <link rel=" stylesheet" href="https://cdn.datatables.net/buttons/3.2.3/css/buttons.dataTables.min.css" />

        <link rel="stylesheet" href="https://cdn.datatables.net/2.3.0/css/dataTables.dataTables.css" />
        <link rel="stylesheet" href="~/GreenOasisAll.styles.css" asp-append-version="true" />
    </head>
    <!-- Begin Header Area -->
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Green Oasis Admin</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><strong>Trang chủ</strong></a>
                            </li>
                            <div class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <strong>Danh mục quản lý</strong>
                                </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item text-black" asp-area="" asp-controller="Category" asp-action="Index">Quản lý danh mục</a></li>
                                    <li><a class="dropdown-item text-black" asp-area="" asp-controller="Product" asp-action="Index">Quản lý sản phẩm</a></li>
                                    <li><a class="dropdown-item text-black" asp-area="" asp-controller="Order" asp-action="OrderHistory">Quản lý đơn hàng</a></li>
                                    <li><a class="dropdown-item text-black" asp-area="" asp-controller="Inventory" asp-action="Index">Quản lý kho</a></li>

                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a class="dropdown-item text-black" asp-area="" asp-controller="Order" asp-action="Dashboard">Doanh số</a></li>
                                </ul>
                            </div>
                            <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Order" asp-action="OrderHistory"><strong>Quản lý đơn hàng</strong></a></li>
                            @if (HttpContextAccessor.HttpContext.Session.GetInt32(cartCount.sessionCount) != null)
                            {
                                <li class="nav-item">
                                    <a asp-controller="Cart" asp-action="CartIndex" class="nav-link">
                                        @{
                                            var count = HttpContextAccessor.HttpContext.Session.GetInt32(cartCount.sessionCount);
                                        }
                                        <i class="fas fa-shopping-cart fas-light" style="color: darkgreen">
                                            &nbsp;
                                            <strong style="color: green; box-shadow: 0 2px 4px 0 forestgreen, 0 6px 20px 0 rgba(0, 0, 0, 0.19) ">(@count)</strong>
                                        </i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li style="color: white">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                                    </a>

                                </li>
                            }
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <!-- End Header Area -->
        <!-- Begin Body Area -->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <!-- End Body Area -->
        <!-- Begin Footer Area -->
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - GreenOasisAll - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <!-- End Footer Area -->
        <!-- JS -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
        <script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
        <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>

        <script src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://kit.fontawesome.com/c47669b220.js" crossorigin="anonymous" class="bg-white"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
}
else
{
    <!DOCTYPE html>
    <html lang="zxx">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Green Oasis</title>
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Green Oasis plant shop.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="~/greenoasisassets/images/favicon.ico" />

        <!-- CSS
        ============================================ -->

        <link rel="stylesheet" href="~/greenoasisassets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/greenoasisassets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/greenoasisassets/css/Pe-icon-7-stroke.css" />
        <link rel="stylesheet" href="~/greenoasisassets/css/animate.min.css">
        <link rel="stylesheet" href="~/greenoasisassets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="~/greenoasisassets/css/nice-select.css">
        <link rel="stylesheet" href="~/greenoasisassets/css/magnific-popup.min.css" />
        <link rel="stylesheet" href="~/greenoasisassets/css/ion.rangeSlider.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" />

        <link rel=" stylesheet" href="https://cdn.datatables.net/buttons/3.2.3/css/buttons.dataTables.min.css" />

        <link rel="stylesheet" href="https://cdn.datatables.net/2.3.0/css/dataTables.dataTables.css" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

        <!-- Style CSS -->
        <link rel="stylesheet" href="~/greenoasisassets/css/style.css">

    </head>

    <body>
        <div class="preloader-activate preloader-active open_tm_preloader">
            <div class="preloader-area-wrap">
                <div class="spinner d-flex justify-content-center align-items-center h-100">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <div class="main-wrapper">

            <!-- Begin Main Header Area -->
            <header class="main-header-area">
                <div class="header-top bg-pronia-primary d-none d-lg-block">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <div class="header-top-left">
                                    <span class="pronia-offer">CHÀO MỪNG BẠN ĐẾN VỚI GREEN OASIS!</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="header-top-right">
                                    <ul class="dropdown-wrap">
                                        <li class="dropdown">
                                            <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="currencyButton" data-bs-toggle="dropdown" aria-label="currency" aria-expanded="false">
                                                VND
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="currencyButton">
                                                <li><a class="dropdown-item" href="#">USD</a></li>
                                                <li><a class="dropdown-item" href="#">GBP</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="languageButton" data-bs-toggle="dropdown" aria-label="language" aria-expanded="false">
                                                Tiếng Việt
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="languageButton">
                                                <li><a class="dropdown-item" href="#">English</a></li>
                                                <li><a class="dropdown-item" href="#">French</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-middle py-30">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <div class="header-middle-wrap position-relative">
                                    <div class="header-contact d-none d-lg-flex">
                                        <i class="pe-7s-call"></i>
                                        <a href="tel://+84-2888-271-076">(+84) 2888 271 076</a>
                                    </div>

                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="header-logo">
                                        <img src="~/greenoasisassets/images/logo/dark.png" alt="Header Logo">
                                    </a>
                                    <div class="col-lg-2 col-6">
                                        <div class="header-right">
                                            <ul>
                                                <li>
                                                    <a asp-for="searchByName" class="search-btn bt" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <i class="pe-7s-search"></i>
                                                    </a>
                                                </li>
                                                <li class="dropdown d-none d-lg-block">
                                                    <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="stickysettingButton" data-bs-toggle="dropdown" aria-label="setting" aria-expanded="false">
                                                        <i class="pe-7s-users"></i>
                                                    </button>
                                                    <partial name="_LoginPartial" />
                                                </li>
                                                <li class="d-none d-lg-block">
                                                    <a asp-area="" asp-controller="Wishlist" asp-action="WishlistIndex">
                                                        <i class="pe-7s-like"></i>
                                                    </a>
                                                </li>

                                                @if (HttpContextAccessor.HttpContext.Session.GetInt32(cartCount.sessionCount) != null)

                                                {
                                                    <li class="minicart-wrap me-3 me-lg-0">
                                                        <a href="#miniCart" class="minicart-btn toolbar-btn">
                                                            @{
                                                                var count = HttpContextAccessor.HttpContext.Session.GetInt32(cartCount.sessionCount);
                                                            }

                                                            <i class="pe-7s-shopbag"></i>
                                                            <span class="quantity">@count</span>
                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="minicart-wrap me-3 me-lg-0">
                                                        <a href="#miniCart" class="minicart-btn toolbar-btn">
                                                            <i class="pe-7s-shopbag"></i>
                                                            <span class="quantity">0</span>
                                                        </a>
                                                    </li>
                                                }


                                                <li class="mobile-menu_wrap d-block d-lg-none">
                                                    <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                                        <i class="pe-7s-menu"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom d-none d-lg-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="main-menu position-relative">
                                    <nav class="main-nav">
                                        <ul>
                                            <li class="drop-holder">
                                                <a asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                                            </li>
                                            <li class="drop-holder">
                                                <a asp-area="" asp-controller="Product" asp-action="ProductsByCategory">Sản Phẩm</a>
                                            </li>
                                            <li>
                                                <a asp-area="" asp-controller="Home" asp-action="AboutUs">Về Chúng Tôi</a>
                                            </li>
                                            <li>
                                                <a asp-area="" asp-controller="Home" asp-action="Blog">Chăm Sóc</a>
                                            </li>
                                            <li class="drop-holder">
                                                <a href="#">Hướng Dẫn Mua Hàng</a>
                                                <ul class="drop-menu">
                                                    <li>
                                                        <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a asp-area="" asp-controller="Home" asp-action="Contact">Liên Hệ</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-sticky py-4 py-lg-0">
                    <div class="container">
                        <div class="header-nav position-relative">
                            <div class="row align-items-center">
                                <div class="col-lg-2 col-6">

                                    <a asp-area="" asp-controller="Home" asp-action="Index" class="header-logo">
                                        <img src="~/greenoasisassets/images/logo/dark.png" alt="Header Logo">
                                    </a>

                                </div>
                                <div class="col-lg-8 d-none d-lg-block">
                                    <div class="main-menu">
                                        <nav class="main-nav">
                                            <ul>
                                                <li class="drop-holder">
                                                    <a asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                                                </li>
                                                <li class="drop-holder">
                                                    <a asp-area="" asp-controller="Product" asp-action="ProductsByCategory">Sản Phẩm</a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Home" asp-action="AboutUs">Về Chúng Tôi</a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Home" asp-action="Blog">Chăm Sóc</a>
                                                </li>
                                                <li class="drop-holder">
                                                    <a href="#">Hướng Dẫn Mua Hàng</a>
                                                    <ul class="drop-menu">
                                                        <li>
                                                            <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Home" asp-action="Contact">Liên Hệ</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-6">
                                    <div class="header-right">
                                        <ul>
                                            <li>
                                                <a asp-for="searchByName" class="search-btn bt" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <i class="pe-7s-search"></i>
                                                </a>
                                            </li>
                                            <li class="dropdown d-none d-lg-block">
                                                <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="stickysettingButton" data-bs-toggle="dropdown" aria-label="setting" aria-expanded="false">
                                                    <i class="pe-7s-users"></i>
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="stickysettingButton">
                                                    <li><a class="dropdown-item" >Tài Khoản Của Tôi</a></li>
                                                    <li><a class="dropdown-item" href="login-register.html">Đăng Nhập | Đăng Ký</a></li>
                                                </ul>
                                            </li>
                                            <li class="d-none d-lg-block">
                                                <a asp-area="" asp-controller="Wishlist" asp-action="WishlistIndex">
                                                    <i class="pe-7s-like"></i>
                                                </a>
                                            </li>

                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32(cartCount.sessionCount) != null)

                                            {
                                                <li class="minicart-wrap me-3 me-lg-0">
                                                    <a asp-controller="Cart" asp-action="CartIndex" class="minicart-btn toolbar-btn">
                                                        @{
                                                            var count = HttpContextAccessor.HttpContext.Session.GetInt32(cartCount.sessionCount);
                                                        }
                                                        <i class="pe-7s-shopbag"></i>
                                                        <span class="quantity">@count</span>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="minicart-wrap me-3 me-lg-0">
                                                    <a href="#miniCart" class="minicart-btn toolbar-btn">
                                                        <i class="pe-7s-shopbag"></i>
                                                        <span class="quantity">0</span>
                                                    </a>
                                                </li>
                                            }
                                            @*  <li class="minicart-wrap me-3 me-lg-0">
                                                    <a href="#miniCart" class="minicart-btn toolbar-btn">
                                                        <i class="pe-7s-shopbag"></i>
                                                        <span class="quantity">3</span>
                                                    </a>
                                                </li> *@

                                            <li class="mobile-menu_wrap d-block d-lg-none">
                                                <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn pl-0">
                                                    <i class="pe-7s-menu"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu_wrapper" id="mobileMenu">
                    <div class="offcanvas-body">
                        <div class="inner-body">
                            <div class="offcanvas-top">
                                <a href="#" class="button-close"><i class="pe-7s-close"></i></a>
                            </div>
                            <div class="header-contact offcanvas-contact">
                                <i class="pe-7s-call"></i>
                                <a href="tel://+84-2888-271-076">(+84) 2888 271 076</a>
                            </div>
                            <div class="offcanvas-user-info">
                                <ul class="dropdown-wrap">
                                    <li class="dropdown dropdown-left">
                                        <button class="btn btn-link dropdown-toggle ht-btn" type="button" id="languageButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                            Tiếng Việt
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="languageButtonTwo">
                                            <li><a class="dropdown-item" href="#">English</a></li>
                                            <li><a class="dropdown-item" href="#">French</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <button class="btn btn-link dropdown-toggle ht-btn usd-dropdown" type="button" id="currencyButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                            VND
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="currencyButtonTwo">
                                            <li><a class="dropdown-item" href="#">USD</a></li>
                                            <li><a class="dropdown-item" href="#">GPB</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <button class="btn btn-link dropdown-toggle ht-btn p-0" type="button" id="settingButtonTwo" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="pe-7s-users"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="settingButtonTwo">
                                            <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="MyAccount">Tài Khoản Của Tôi</a></li>
                                            <li><a class="dropdown-item" href="login-register.html">Đăng Nhập | Đăng Ký</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Wishlist" asp-action="WishlistIndex">
                                            <i class="pe-7s-like"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="offcanvas-menu_area">
                                <nav class="offcanvas-navigation">
                                    <ul class="mobile-menu">
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                                <span class="mm-text">Trang Chủ</span>
                                            </a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a asp-area="" asp-controller="Product" asp-action="ProductsByCategory">
                                                <span class="mm-text">
                                                    Sản Phẩm
                                                    <i class="pe-7s-angle-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                            </ul>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="AboutUs">
                                                <span class="mm-text">Về Chúng Tôi</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Blog">
                                                <span class="mm-text">Chăm Sóc</span>
                                            </a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">
                                                <span class="mm-text">
                                                    Hướng Dẫn Mua Hàng
                                                    <i class="pe-7s-angle-down"></i>
                                                </span>
                                            </a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a asp-area="" asp-controller="Home" asp-action="FAQ">
                                                        <span class="mm-text">FAQ</span>
                                                    </a>
                                                </li>
                                                <li>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Blog">
                                                <span class="mm-text">Liên Hệ</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content modal-bg-dark">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-tippy="Close" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-search">
                                    <span class="searchbox-info">Bắt đầu nhập và nhấn Enter để tìm kiếm hoặc ESC để đóng</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offcanvas-minicart_wrapper" id="miniCart">
                    <div class="offcanvas-body">
                        <div class="minicart-content">
                            <div class="minicart-heading">
                                <h4 class="mb-0">Giỏ Hàng</h4>
                                <a href="#" class="button-close">
                                    <i class="pe-7s-close" data-tippy="Close" data-tippy-inertia="true"
                                       data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                       data-tippy-theme="sharpborder"></i>
                                </a>
                            </div>
                            <ul class="minicart-list">
                                <li class="minicart-product">
                                    <a class="product-item_remove" href="#">
                                        <i class="pe-7s-close" data-tippy="Remove"
                                           data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
                                           data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>
                                    </a>
                                    <a href="#" class="product-item_img">
                                        <img class="img-full" src="~/greenoasisassets/images/product/small-size/2-1-70x78.png" alt="Product Image">
                                    </a>
                                    <div class="product-item_content">
                                        <a class="product-item_title" href="#">Combo 10 loại sen đá cỡ nhỏ ngẫu nhiên (bịch nhựa)</a>
                                        <span class="product-item_quantity">1 x 130,000₫</span>
                                    </div>
                                </li>
                                <li class="minicart-product">
                                    <a class="product-item_remove" href="#">
                                        <i class="pe-7s-close" data-tippy="Remove"
                                           data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
                                           data-tippy-arrow="true" data-tippy-theme="sharpborder"></i>
                                    </a>
                                    <a href="#" class="product-item_img">
                                        <img class="img-full" src="~/greenoasisassets/images/product/small-size/2-2-70x78.png" alt="Product Image">
                                    </a>
                                    <div class="product-item_content">
                                        <a class="product-item_title" href="#">Sen đá viền đỏ 5-7cm (bịch nhựa/chậu nhựa)</a>
                                        <span class="product-item_quantity">1 x 15,000₫</span>
                                    </div>
                                </li>
                                <li class="minicart-product">
                                    <a class="product-item_remove" href="#">
                                        <i class="pe-7s-close" data-tippy="Remove" data-tippy-inertia="true"
                                           data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                           data-tippy-theme="sharpborder"></i>
                                    </a>
                                    <a href="#" class="product-item_img">
                                        <img class="img-full" src="~/greenoasisassets/images/product/small-size/2-3-70x78.png" alt="Product Image">
                                    </a>
                                    <div class="product-item_content">
                                        <a class="product-item_title" href="#">Sen đá móng rồng 5-7cm (bịch nhựa/chậu nhựa)</a>
                                        <span class="product-item_quantity">1 x 15,000₫</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="minicart-item_total">
                            <span>Tổng Cộng</span>
                            <span class="ammount">160,000₫</span>
                        </div>
                        <div class="group-btn_wrap d-grid gap-2">
                            <a asp-area="" asp-controller="Cart" asp-action="CartIndex" class="btn btn-dark">Xem Giỏ Hàng</a>
                            <a asp-area="" asp-controller="Order" asp-action="orderDetailPreview" class="btn btn-dark">Thanh Toán</a>
                        </div>
                    </div>
                </div>

                <div class="global-overlay"></div>
            </header>
            <!-- Main Header Area End Here -->
            @RenderSection("Scripts", required: false)
            @RenderBody()
            <!-- Begin Footer Area -->
            <div class="footer-area" data-bg-image="~/greenoasisassets/images/footer/bg/1-1920x465.jpg">
                <div class="footer-top section-space-top-100 pb-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="footer-widget-item">
                                    <div class="footer-widget-logo">
                                        <a asp-area="" asp-controller="Home" asp-action="Index">
                                            <img src="~/greenoasisassets/images/logo/dark.png" alt="Logo">
                                        </a>
                                    </div>
                                    <p class="footer-widget-desc">Chuyên kinh doanh sen đá, xương rồng, chậu cây, đất trồng và phụ kiện làm vườn.</p>
                                    <div class="social-link with-border">
                                        <ul>
                                            <li>
                                                <a href="#" data-tippy="Facebook" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-tippy="Twitter" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-tippy="Pinterest" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                    <i class="fa fa-pinterest"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-tippy="Dribbble" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 pt-40">
                                <div class="footer-widget-item">
                                    <h3 class="footer-widget-title">Hỗ Trợ</h3>
                                    <ul class="footer-widget-list-item">
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="About Us">Về Green Oasis</a>
                                        </li>
                                        <li>
                                            <a href="#">Hướng dẫn mua hàng</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Contact">Liên Hệ</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Account" asp-action="Login">Đăng Nhập</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 pt-40">
                                <div class="footer-widget-item">
                                    <h3 class="footer-widget-title">Tài Khoản</h3>
                                    <ul class="footer-widget-list-item">
                                        <li>
                                            <a asp-area="" asp-controller="Account" asp-action="Register">Đăng Ký</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Cart" asp-action="CartIndex">Xem Giỏ Hàng</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Wishlist" asp-action="WishlistIndex">Danh Sách Yêu Thích</a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Order" asp-action="OrderHistory">Theo Dõi Đơn Hàng</a>
                                        </li>
                                        <li>
                                            <a href="#">Trợ Giúp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 pt-40">
                                <div class="footer-widget-item">
                                    <h3 class="footer-widget-title">Dịch Vụ</h3>
                                    <ul class="footer-widget-list-item">
                                        <li>
                                            <a href="#">Hình Thức Thanh Toán</a>
                                        </li>
                                        <li>
                                            <a href="#">Hoàn Tiền!</a>
                                        </li>
                                        <li>
                                            <a href="#">Trả Hàng</a>
                                        </li>
                                        <li>
                                            <a href="#">Vận Chuyển</a>
                                        </li>
                                        <li>
                                            <a href="#">Chính Sách Quyền Riêng Tư</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 pt-40">
                                <div class="footer-contact-info">
                                    <h3 class="footer-widget-title">Liên Hệ Với Chúng Tôi</h3>
                                    <a class="number" href="tel://(+84) 2888 271 076">(+84) 2888 271 076</a>
                                    <div class="address">
                                        <ul>
                                            <li>
                                                279 Nguyễn Tri Phương, Quận 10, TP. Hồ Chí Minh
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <a href="#">
                                        <img src="~/greenoasisassets/images/payment/1.png" alt="Payment Method">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="copyright">
                                    <span class="copyright-text">
                                        © 2025 Green Oasis Được Tạo <i class="fa fa-heart text-danger"></i> Bởi
                                        <a href="https://hasthemes.com/" rel="noopener" target="_blank">Nhóm 2</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Area End Here -->
            <!-- Begin Modal Area -->
            <div class="modal quick-view-modal fade" id="quickModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="quickModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-tippy="Close" data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme="sharpborder">
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-wrap row">
                                <div class="col-lg-6">
                                    <div class="modal-img">
                                        <div class="swiper-container modal-slider">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <a href="#" class="single-img">
                                                        <img class="img-full" src="~/greenoasisassets/images/product/large-size/1-1-570x633.jpg" alt="Product Image">
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#" class="single-img">
                                                        <img class="img-full" src="~/greenoasisassets/images/product/large-size/1-2-570x633.jpg" alt="Product Image">
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#" class="single-img">
                                                        <img class="img-full" src="~/greenoasisassets/images/product/large-size/1-3-570x633.jpg" alt="Product Image">
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#" class="single-img">
                                                        <img class="img-full" src="~/greenoasisassets/images/product/large-size/1-4-570x633.jpg" alt="Product Image">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-5 pt-lg-0">
                                    <div class="single-product-content">
                                        <h2 class="title">Sen mận đỏ 5-7cm (bịch nhựa/chậu nhựa)</h2>
                                        <div class="price-box">
                                            <span class="new-price">25,000₫</span>
                                        </div>
                                        <div class="rating-box-wrap">
                                            <div class="rating-box">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-status">
                                                <a href="#">( 1 Đánh Giá )</a>
                                            </div>
                                        </div>
                                        <div class="selector-wrap color-option">
                                            <span class="selector-title border-bottom-0">Chậu</span>
                                            <select class="nice-select wide border-bottom-0 rounded-0">
                                                <option value="default">Chậu Nhựa</option>
                                                <option value="1">Bịch Nhựa</option>
                                            </select>
                                        </div>
                                        <div class="selector-wrap size-option">
                                            <span class="selector-title">Size</span>
                                            <select class="nice-select wide rounded-0">
                                                <option value="medium">Medium</option>
                                                <option value="large">Large</option>
                                                <option value="small">Small</option>
                                            </select>
                                        </div>
                                        <p class="short-desc">
                                            LƯU Ý:
                                            <br> - Cây trong mỗi combo là do vườn lựa, do vậy có thể khác các loại trong ảnh, nhưng vườn đảm bảo là 10 loại sen khác nhau.

                                            <br> - Khách hàng được kiểm tra hàng trước khi thanh toán, trường hợp cây bị hư gẫy, các loại trong 1 combo trùng nhau có thể từ chối nhận hàng.

                                            <br> - Vườn không có dịch vụ chụp ảnh cho từng khách trước khi giao hàng.
                                        </p>
                                        <ul class="quantity-with-btn">
                                            <li class="quantity">
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" value="1" type="text">
                                                </div>
                                            </li>
                                            <li class="add-to-cart">
                                                <a class="btn btn-custom-size lg-size btn-pronia-primary" asp-area="" asp-controller="Cart" asp-action="AddToCart">Thêm Vào Giỏ</a>
                                            </li>
                                            <li class="wishlist-btn-wrap">
                                                <a class="custom-circle-btn" asp-area="" asp-controller="Wishlist" asp-action="AddToWishlist">
                                                    <i class="pe-7s-like"></i>
                                                </a>
                                            </li>
                                            <li class="compare-btn-wrap">
                                                <a class="custom-circle-btn" href="compare.html">
                                                    <i class="pe-7s-refresh-2"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="service-item-wrap pb-0">
                                            <li class="service-item">
                                                <div class="service-img">
                                                    <img src="~/greenoasisassets/images/shipping/icon/car.png" alt="Shipping Icon">
                                                </div>
                                                <div class="service-content">
                                                    <span class="title">Free <br> Shipping</span>
                                                </div>
                                            </li>
                                            <li class="service-item">
                                                <div class="service-img">
                                                    <img src="~/greenoasisassets/images/shipping/icon/card.png" alt="Shipping Icon">
                                                </div>
                                                <div class="service-content">
                                                    <span class="title">Safe <br> Payment</span>
                                                </div>
                                            </li>
                                            <li class="service-item">
                                                <div class="service-img">
                                                    <img src="~/greenoasisassets/images/shipping/icon/service.png" alt="Shipping Icon">
                                                </div>
                                                <div class="service-content">
                                                    <span class="title">New <br> Plant</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Area End Here -->
            <!-- Begin Scroll To Top -->
            <a class="scroll-to-top" href="">
                <i class="fa fa-angle-double-up"></i>
            </a>
            <!-- Scroll To Top End Here -->

        </div>

        <!-- Global Vendor, plugins JS -->
        <!-- JS Files
        ============================================ -->

        <script src="~/greenoasisassets/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="~/greenoasisassets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="~/greenoasisassets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
        <script src="~/greenoasisassets/js/vendor/jquery.waypoints.js"></script>
        <script src="~/greenoasisassets/js/vendor/modernizr-3.11.2.min.js"></script>
        <script src="~/greenoasisassets/js/plugins/wow.min.js"></script>
        <script src="~/greenoasisassets/js/plugins/swiper-bundle.min.js"></script>
        <script src="~/greenoasisassets/js/plugins/jquery.nice-select.js"></script>
        <script src="~/greenoasisassets/js/plugins/parallax.min.js"></script>
        <script src="~/greenoasisassets/js/plugins/jquery.magnific-popup.min.js"></script>
        <script src="~/greenoasisassets/js/plugins/tippy.min.js"></script>
        <script src="~/greenoasisassets/js/plugins/ion.rangeSlider.min.js"></script>
        <script src="~/greenoasisassets/js/plugins/mailchimp-ajax.js"></script>
        <script src="~/greenoasisassets/js/plugins/jquery.counterup.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
        <script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
        <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>

        <script src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://kit.fontawesome.com/c47669b220.js" crossorigin="anonymous" class="bg-white"></script>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

        <!--Main JS (Common Activation Codes)-->
        <script src="~/greenoasisassets/js/main.js"></script>
		<script src="~/js/minicart.js"></script>

    </body>

    </html>
}





